# ---> Terraform
# Local .terraform directories
**/.terraform/*
**/.tofu/*

# .tfstate files
*.tfstate
*.tfstate.*
!*.tfstate.encrypted
!*.tfstate.sha256sum

# .tfvars files
*.tfvars
*.tfvars.*
!terraform.tfvars

# Crash log files
crash.log
crash.*.log

# Ignore CLI configuration files
.terraformrc
terraform.rc
.tofurc
tofu.rc

# Sensitive secrets documentation
SECRETS.md

# ENV
.env
admin.*config
secrets.env

# Nix
**/result
