{
	log
	metrics {
		per_host
	}
	servers {
		listener_wrappers {
			proxy_protocol {
				timeout 2s
				allow  {
					tjo_space_networks | join(' ')
				}
			}
			fallback_policy reject
		}
		tls
	}
}
}

ng.media.tjo.space {
	reverse_proxy localhost:3000
}

request.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

radarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

sonarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

bazarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

lidarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

tdarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

readarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

prowlarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

qbitorrent.ng.media.tjo.space {
	reverse_proxy localhost:3000
}
