{
	log
	metrics {
		per_host
	}
	servers {
		listener_wrappers {
			proxy_protocol {
				timeout 2s
				# Using comment hack here. Otherwise caddy fmt takes the template
				#  curly brackets and tries to "format them", which breaks things.
				# {{ "\n allow " + (tjo_space_networks | join(' ')) }}
				fallback_policy reject
			}
			tls {
				issuer acme {
					disable_http_challenge
				}
			}
		}
	}
}

(auth) {
	# directive execution order is only as stated if enclosed with route.
	route {
		# always forward outpost path to actual outpost
		reverse_proxy /outpost.goauthentik.io/* http://127.0.0.1:9000 {
			header_up Host {http.reverse_proxy.upstream.host}
		}

		# forward authentication to outpost
		forward_auth http://127.0.0.1:9000 {
			uri /outpost.goauthentik.io/auth/caddy

			# capitalization of the headers is important, otherwise they will be empty
			copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version

			# optional, in this config trust all private ranges, should probably be set to the outposts IP
			trusted_proxies private_ranges
		}
	}
}

(cors) {
  @cors_preflight method OPTIONS
  @cors header Origin {args.0}

  handle @cors_preflight {
    header Access-Control-Allow-Origin "{args.0}"
    header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
    header Access-Control-Allow-Headers "Content-Type"
    header Access-Control-Max-Age "3600"
    respond "" 204
  }

  handle @cors {
    header Access-Control-Allow-Origin "{args.0}"
    header Access-Control-Expose-Headers "Link"
  }
}

ng.media.tjo.space {
	# Expose tvshows calendar (sonarr)
	handle /_calendar/tvshows.ics {
		rewrite /feed/v3/calendar/Sonarr.ics?apikey={{ sonarr.api_key }}&asAllDay=true
		reverse_proxy localhost:8989
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Methods "GET"
    header Access-Control-Max-Age "3600"
	}
	# Expose movies calendar (radarr)
	handle /_calendar/tvshows.ics {
		rewrite /feed/v3/calendar/Radarr.ics?apikey={{ radarr.api_key }}&asAllDay=true
		reverse_proxy localhost:7878
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Methods "GET"
    header Access-Control-Max-Age "3600"
	}

	import auth
	reverse_proxy localhost:8096
}

request.ng.media.tjo.space {
	import auth
	reverse_proxy localhost:5055
}

manage.ng.media.tjo.space {
	import auth
	root * /var/www/manage
	file_server
}

radarr.ng.media.tjo.space {
	import auth
	reverse_proxy localhost:7878
}

sonarr.ng.media.tjo.space {
	import auth
	reverse_proxy localhost:8989
}

bazarr.ng.media.tjo.space {
	import auth
	reverse_proxy localhost:6767
}

lidarr.ng.media.tjo.space {
	import auth
	reverse_proxy localhost:8686
}

tdarr.ng.media.tjo.space {
	import auth
	reverse_proxy localhost:8265
}

prowlarr.ng.media.tjo.space {
	import auth
	reverse_proxy localhost:9696
}

qbittorrent.ng.media.tjo.space {
	import auth
	reverse_proxy localhost:8080
}
