{
	log
	metrics {
		per_host
	}
	servers {
		listener_wrappers {
			proxy_protocol {
				timeout 2s
				# Using comment hack here. Otherwise caddy fmt takes the template
				#  curly brackets and tries to "format them", which breaks things.
				# {{ "\n allow " + (tjo_space_networks | join(' ')) }}
				fallback_policy reject
			}
			tls {
				issuer acme {
					disable_http_challenge
				}
			}
		}
	}
}

ng.media.tjo.space {
	reverse_proxy localhost:8096
}

request.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

radarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

sonarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

bazarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

lidarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

tdarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

readarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

prowlarr.ng.media.tjo.space {
	reverse_proxy localhost:3000
}

qbitorrent.ng.media.tjo.space {
	reverse_proxy localhost:3000
}
