[Unit]
Description=A Valkey Container

[Container]
Image=docker.io/valkey/valkey:8
Memory=1g

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
RequiredBy=authentik-server.service
RequiredBy=authentik-worker.service
