[Unit]
Description=An Authentik Worker
Requires=postgresql.service
After=postgresql.service
Requires=valkey.service
After=valkey.service

[Container]
Image=ghcr.io/goauthentik/server:2025.2.1
Exec=worker
EnvironmentFile=/etc/authentik/authentik.env
EnvironmentFile=/etc/authentik/secrets.env
Volume=/srv/authentik/media:/media
Volume=/srv/authentik/certs:/certs
Volume=/srv/authentik/custom-templates:/custom-templates
Network=main.network
User=1200
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
