[Unit]
Description=Bazarr container

[Container]
ContainerName=bazarr
Image=ghcr.io/linuxserver/bazarr
Network=media.network
User=1010
Group=1010
Volume=/srv/data/fast/bazarr:/config:rw
Volume=/srv/data/large/tvseries:/tv:rw
Volume=/srv/data/large/movies:/movies:rw
AutoUpdate=registry
ReadOnly=true
#PublishPort=6767:6767
IP6=fd6a:e0a3:bb4b:c6b3::15

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target default.target
