[Unit]
Description=cross-seed container

[Container]
ContainerName=cross-seed
Image=ghcr.io/cross-seed/cross-seed:6
Exec=daemon
Network=media.network
User=1010
Group=1010
Volume=/srv/data/fast/cross-seed:/config:rw
Volume=/srv/data/ephemeral/downloads:/downloads:rw
Volume=/srv/data/large/tvseries:/data/tvshows:ro
Volume=/srv/data/large/movies:/data/movies:ro
Volume=/srv/data/large/music:/data/music:ro
AutoUpdate=registry
ReadOnly=true
IP6=fd6a:e0a3:bb4b:c6b3::21

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target default.target
