[Unit]
Description=Jellyfin container

[Container]
ContainerName=jellyfin
Image=code.tjo.space/tjo-space/jellyfin:10.11.6-20260125
Network=media.network
User=1010
Group=1010
# render group
GroupAdd=991
# video group
GroupAdd=44
Volume=/srv/data/fast/jellyfin:/config:rw
Volume=/srv/data/large/tvseries:/data/tvshows:ro
Volume=/srv/data/large/movies:/data/movies:ro
Volume=/srv/data/large/music:/data/music:ro
AddDevice=/dev/dri/
Environment=JELLYFIN_PublishedServerUrl=https://media.tjo.space
#PublishPort=8096:8096
IP6=fd6a:e0a3:bb4b:c6b3::10

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target default.target
