[Unit]
Description=Jellyseerr container

[Container]
ContainerName=jellyseerr
Image=ghcr.io/fallenbagel/jellyseerr:2.7.3
Network=media.network
User=1010
Group=1010
Volume=/srv/data/fast/jellyseerr:/app/config:rw
PublishPort=127.0.0.1:5055:5055
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target default.target
