[Unit]
Description=Prowlarr container

[Container]
ContainerName=prowlarr
Image=ghcr.io/linuxserver/prowlarr
Network=media.network
User=1010
Group=1010
Volume=/srv/data/fast/prowlarr:/config:rw
PublishPort=127.0.0.1:9696:9696
AutoUpdate=registry

Environment=PROWLARR__SERVER__PORT=8989
Environment=PROWLARR__AUTH__APIKEY={{ prowlarr.api_key }}
Environment=PROWLARR__AUTH__REQUIRED=true
Environment=PROWLARR__AUTH__METHOD=External
#Environment=PROWLARR__POSTGRES__HOST=nevaroo-one.postgresql.tjo.cloud
#Environment=PROWLARR__POSTGRES__USER={{ prowlarr.postgresql.user }}
#Environment=PROWLARR__POSTGRES__PASSWORD={{ prowlarr.postgresql.password }}
#Environment=PROWLARR__POSTGRES__MAINDB=prowlarr.media.tjo.space_main
#Environment=PROWLARR__POSTGRES__LOGDB=prowlarr.media.tjo.space_logs
Environment=PROWLARR__LOG__ANALYTICSENABLED=false

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target default.target
