[Unit]
Description=Qbittorrent VPN container

[Container]
ContainerName=qbittorrent-vpn
Image=docker.io/qmcgaw/gluetun:v3.41.1@sha256:1a5bf4b4820a879cdf8d93d7ef0d2d963af56670c9ebff8981860b6804ebc8ab
Network=media.network
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun:rw
Environment=VPN_SERVICE_PROVIDER=mullvad
Environment=VPN_TYPE=wireguard
Environment=WIREGUARD_PRIVATE_KEY={{ qbittorrent_vpn_wireguard_private_key }}
Environment=WIREGUARD_ADDRESSES={{ qbittorrent_vpn_wireguard_addresses }}
Environment=SERVER_COUNTRIES=Slovenia,Croatia,Serbia
# Qbittorrent Web UI
PublishPort=8080:8080
# Qbittorrent Exporter
PublishPort=9200:9200
IP6=fd6a:e0a3:bb4b:c6b3::17

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target default.target
