[Unit]
Description=Radarr container

[Container]
ContainerName=radarr
Image=ghcr.io/linuxserver/radarr
Network=media.network
User=1010
Group=1010
Volume=/srv/data/fast/radarr:/config:rw
Volume=/srv/data/large/movies:/movies:rw
Volume=/srv/data/ephemeral/downloads:/downloads:ro
PublishPort=127.0.0.1:7878:7878
AutoUpdate=registry
ReadOnly=true

Environment=RADARR__SERVER__PORT=7878
Environment=RADARR__AUTH__APIKEY={{ radarr.api_key }}
Environment=RADARR__AUTH__REQUIRED=DisabledForLocalAddresses
Environment=RADARR__AUTH__METHOD=External
Environment=RADARR__POSTGRES__HOST=nevaroo-one.postgresql.cloud.internal
Environment=RADARR__POSTGRES__USER={{ radarr.postgresql.user }}
Environment=RADARR__POSTGRES__PASSWORD={{ radarr.postgresql.password }}
Environment=RADARR__POSTGRES__MAINDB=radarr.media.tjo.space_main
Environment=RADARR__POSTGRES__LOGDB=radarr.media.tjo.space_logs
Environment=RADARR__LOG__ANALYTICSENABLED=false

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target default.target
