[Unit]
Description=Seerr container

[Container]
ContainerName=seerr
Image=ghcr.io/seerr-team/seerr:v3.1.0
Network=media.network
User=1010
Group=1010
Volume=/srv/data/fast/seerr:/app/config:rw
AutoUpdate=registry
NoNewPrivileges=true
#PublishPort=5055:5055
IP6=fd6a:e0a3:bb4b:c6b3::19

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target default.target
