[Unit]
Description=A Postgresql Container

[Container]
Image=docker.io/postgresql:17.4
Volume=/var/lib/postgresql/data:/srv/postgresql/data
EnvironmentFile=/etc/postgresql/secrets.env
Environment=POSTGRES_USER=id.tjo.space
Environment=POSTGRES_DB=id.tjo.space

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
RequiredBy=authentik-server.service
RequiredBy=authentik-worker.service
