[Unit]
Description=A Valkey Container

[Container]
Image=docker.io/valkey/valkey:8
Network=main.network
AutoUpdate=registry
HealthCmd=valkey-cli ping | grep PONG
HealthStartPeriod=20s
HealthTimeout=3s

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
RequiredBy=authentik-server.service
RequiredBy=authentik-worker.service
