- name: Create SSH Key
  ansible.builtin.command:
    cmd: ssh-keygen -t ed25519 -f /root/.ssh/id_ed25519 -N ""
    creates: /root/.ssh/id_ed25519

- name: Install ssh-copy-id dependency
  ansible.builtin.apt:
    name: python3-paramiko
    state: present

- name: Copy SSH Key to backup.tjo.cloud
  ansible.builtin.import_role:
    name: rywillia.ssh-copy-id
  vars:
    hostname: "{{ backup_tjo_cloud_ssh_host }}"
    username: "{{ backup_tjo_cloud_ssh_user }}"
    password: "{{ backup_tjo_cloud_ssh_password }}"
    ssh_public_key: /root/.ssh/id_ed25519.pub
    hetzner_storagebox: true
    ssh_port: 22

- name: Scan for backup ssh host key, port 23
  ansible.builtin.command:
    cmd: ssh-keyscan -p 23 {{ backup_tjo_cloud_ssh_host }} >/dev/null
  changed_when: False
  register: backup_ssh_scan

- name: Add backup ssh host key to known_hosts, port 23
  ansible.builtin.known_hosts:
    name: "[{{ backup_tjo_cloud_ssh_host }}]:23"
    key: "{{ item }}"
  with_items: "{{ backup_ssh_scan.stdout_lines }}"

- name: Install Restic
  ansible.builtin.import_role:
    name: restic
  vars:
    restic_tags:
      - "region={{ tjo_cloud_metadata.cloud_region }}"
      - "provider={{ tjo_cloud_metadata.cloud_provider }}"
