- name: Install Caddy
  ansible.builtin.import_role:
    name: caddy

- name: Configure Caddy
  ansible.builtin.template:
    src: root/etc/caddy/Caddyfile
    dest: /etc/caddy/Caddyfile
    mode: '0600'
    owner: "caddy"
    group: "caddy"
  notify: Restart caddy
  tags: config-reload

- name: Create www/manage dir for caddy
  ansible.builtin.file:
    state: directory
    path: "/var/www/manage"
    mode: "0700"
    owner: "caddy"
    group: "caddy"

- name: Copy www/manage files for caddy
  ansible.builtin.template:
    src: 'root/var/www/manage/{{ item }}'
    dest: '/var/www/manage/{{ item }}'
    mode: '0600'
    owner: caddy
    group: caddy
  loop:
    - index.html
    - style.css
  notify: Restart caddy
  tags: config-reload

- name: Create www/unavailable dir for caddy
  ansible.builtin.file:
    state: directory
    path: "/var/www/unavailable"
    mode: "0700"
    owner: "caddy"
    group: "caddy"

- name: Copy www/unavailable files for caddy
  ansible.builtin.template:
    src: 'root/var/www/unavailable/{{ item }}'
    dest: '/var/www/unavailable/{{ item }}'
    mode: '0600'
    owner: caddy
    group: caddy
  loop:
    - index.html
    - style.css
  notify: Restart caddy
  tags: config-reload

- name: Create media group
  ansible.builtin.group:
    name: media
    gid: 1010
    system: true
    state: present

- name: Create media user
  ansible.builtin.user:
    name: "media"
    uid: 1010
    group: media
    groups:
      - render
      - video
    system: true
    home: /var/lib/media
    state: present

- name: Prepare directories
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: "0750"
    owner: "media"
    group: "media"
  loop:
    - "/srv/data/fast/jellyfin"
    - "/srv/data/fast/jellyseerr"
    - "/srv/data/fast/prowlarr"
    - "/srv/data/fast/lidarr"
    - "/srv/data/fast/radarr"
    - "/srv/data/fast/sonarr"
    - "/srv/data/fast/tdarr/server"
    - "/srv/data/fast/tdarr/cache"
    - "/srv/data/fast/tdarr/config"
    - "/srv/data/fast/bazarr"
    - "/srv/data/fast/qbittorrent"
    - "/srv/data/large/tvseries"
    - "/srv/data/large/movies"
    - "/srv/data/large/music"
    - "/srv/data/ephemeral/downloads"
  tags: config-reload

- name: Copy network configuration
  ansible.builtin.template:
    src: 'root/etc/containers/systemd/{{ item }}'
    dest: '/etc/containers/systemd/{{ item }}'
    mode: '0600'
    owner: root
    group: root
  loop:
    - media.network
  tags: config-reload

- name: Copy container configuration
  ansible.builtin.template:
    src: 'root/etc/containers/systemd/{{ item }}.container'
    dest: '/etc/containers/systemd/{{ item }}.container'
    mode: '0600'
    owner: root
    group: root
  loop:
    - jellyfin
    - jellyseerr
    - qbittorrent
    - qbittorrent-vpn
    - qbittorrent-exporter
    - prowlarr
    - lidarr
    - radarr
    - sonarr
    - tdarr
    - bazarr
    - authentik-ldap
    - authentik-proxy
  tags: config-reload
  register: container_configs

- name: systemd daemon-reload
  ansible.builtin.systemd:
    daemon_reload: true
  tags: config-reload

- name: Start containers
  ansible.builtin.systemd:
    name: "{{ item }}"
    # In case container config changed, restart it. Otherwise we only make sure it's running.
    state: "{{ container_configs.results | selectattr('item', 'equalto', item) | map(attribute='changed') | list | first | ternary('restarted', 'started') }}"
    enabled: true
  loop:
    - jellyfin
    - jellyseerr
    - qbittorrent
    - qbittorrent-vpn
    - qbittorrent-exporter
    - prowlarr
    - lidarr
    - radarr
    - sonarr
    - tdarr
    - bazarr
    - authentik-ldap
    - authentik-proxy
  tags: config-reload
