- name: Install Caddy
  ansible.builtin.import_role:
    name: caddy

- name: Configure Caddy
  ansible.builtin.template:
    src: root/etc/caddy/Caddyfile
    dest: /etc/caddy/Caddyfile
    mode: '0600'
    owner: "caddy"
    group: "caddy"
  notify: Restart caddy
  tags: config-reload

- name: Create media group
  ansible.builtin.group:
    name: media
    gid: 1010
    system: true
    state: present

- name: Create media user
  ansible.builtin.user:
    name: "media"
    uid: 1010
    group: media
    groups:
      - render
    system: true
    home: /var/lib/media
    state: present

- name: Instal podman
  ansible.builtin.apt:
    name: podman
    state: present

- name: Set podman interface as trusted
  ansible.posix.firewalld:
    interface: podman1
    zone: trusted
    permanent: true
    immediate: true
    state: enabled
  tags:
    - firewall

- name: Prepare directories
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: "0770"
    owner: "media"
    group: "media"
  loop:
    - "/srv/data/fast/jellyfin"
    - "/srv/data/fast/jellyseerr"
    - "/srv/data/fast/prowlarr"
    - "/srv/data/fast/lidarr"
    - "/srv/data/fast/radarr"
    - "/srv/data/fast/sonarr"
    - "/srv/data/fast/tidarr"
    - "/srv/data/fast/bazarr"
    - "/srv/data/fast/qbittorrent"
    - "/srv/data/large/tvseries"
    - "/srv/data/large/movies"
    - "/srv/data/large/music"
    - "/srv/data/ephemeral/downloads"
  tags: config-reload

- name: Copy Podman configuration
  ansible.builtin.template:
    src: 'root/etc/containers/systemd/{{ item }}'
    dest: '/etc/containers/systemd/{{ item }}'
    mode: '0600'
    owner: root
    group: root
  loop:
    - media.network
    - jellyfin.container
    - jellyseerr.container
    - qbittorrent.container
    - qbittorrent-vpn.container
    - qbittorrent-exporter.container
    - prowlarr.container
    - lidarr.container
    - radarr.container
    - sonarr.container
    - tidarr.container
    - bazarr.container
    - authentik-ldap.container
    - authentik-proxy.container
  notify: Systemd daemon-reload
  tags: config-reload

- name: Start services
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - jellyfin
    - jellyseerr
    - qbittorrent
    - qbittorrent-vpn
    - qbittorrent-exporter
    - prowlarr
    - lidarr
    - radarr
    - sonarr
    - tidarr
    - bazarr
    - authentik-ldap
    - authentik-proy
  tags: config-reload
